{
    "socks": [
        {
            "addr": "127.0.0.1:7072",
            "userPass": {}
        }
    ],
    "tunnels": [
        {
            "addr": "127.0.0.1:7070",
            "method": "rc4-128-md5",
            "key": "123456"
        }
    ]
}
